model_config_list:{
    config:{
        name:"neuralcf",
        base_path:"/models/modeldata/neuralcf",
        model_platform:"tensorflow"
    },
    config:{
        name:"neuralcfactor",
        base_path:"/models/modeldata/neuralcfactor",
        model_platform:"tensorflow"
    },
    config:{
        name:"neuralcfdirector",
        base_path:"/models/modeldata/neuralcfdirector",
        model_platform:"tensorflow"
    }
}